/* decksmith 6a10e042c33424a0 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(notosanskr-0.woff2) format('woff2');
  unicode-range: U+ac8c, U+ace0, U+acfc, U+ad6c, U+adf8, U+b17c, U+b294, U+b2c8, U+b2e4, U+b418, U+b4e4, U+b780, U+b825, U+b85c, U+b9ac, U+b9cc, U+b9de, U+ba74, U+bb38, U+bd99, U+c0ac, U+c544, U+c57c, U+c5b4, U+c5f0, U+c640, U+c720, U+c73c, U+c740, U+c744, U+c774, U+c785, U+c791, U+c815, U+c81c, U+c8fc, U+c9c0, U+cd9c, U+cee4, U+d558;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(notosanskr-0.woff2) format('woff2');
  unicode-range: U+ac8c, U+ace0, U+acfc, U+ad6c, U+adf8, U+b17c, U+b294, U+b2c8, U+b2e4, U+b418, U+b4e4, U+b780, U+b825, U+b85c, U+b9ac, U+b9cc, U+b9de, U+ba74, U+bb38, U+bd99, U+c0ac, U+c544, U+c57c, U+c5b4, U+c5f0, U+c640, U+c720, U+c73c, U+c740, U+c744, U+c774, U+c785, U+c791, U+c815, U+c81c, U+c8fc, U+c9c0, U+cd9c, U+cee4, U+d558;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(notosanskr-0.woff2) format('woff2');
  unicode-range: U+ac8c, U+ace0, U+acfc, U+ad6c, U+adf8, U+b17c, U+b294, U+b2c8, U+b2e4, U+b418, U+b4e4, U+b780, U+b825, U+b85c, U+b9ac, U+b9cc, U+b9de, U+ba74, U+bb38, U+bd99, U+c0ac, U+c544, U+c57c, U+c5b4, U+c5f0, U+c640, U+c720, U+c73c, U+c740, U+c744, U+c774, U+c785, U+c791, U+c815, U+c81c, U+c8fc, U+c9c0, U+cd9c, U+cee4, U+d558;
}
